<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container text-center">
    <%
    if(error){
    %>
    <div class="alert alert-danger" role="alert"><%=error%></div>
    <%}
    %>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapse-navbar">菜单</button>
        <a href="/" class="navbar-brand">珠峰博客</a>
    </div>
    <div class="navbar-collapse collapse" id="collapse-navbar">
        <ul class="nav navbar-nav">
            <%
            if(!user){
            %>
            <li class=""><a href="/users/reg">注册</a></li>
            <li class=""><a href="/users/login">登录</a></li>
            <%
            }else{
            %>

            <li class=""><a href="/articals/add">发表文章</a></li>
            <li class=""><a href="/users/logout">退出</a></li>
            <li class=""><a href="/articals/list/1/2">列表</a></li>
            <%
            }%>

        </ul>
        <form class="navbar-form navbar-right" action="/articals/list/1/2" role="search" method="get">
            <div class="form-group">
                <label for="keyword">关键词</label>
                <input type="text" name="keyword" id="keyword" class="form-control" value="<%=keyword%>">
            </div>
            <button type="submit" class="btn btn-success" id="searchbtn" name="searchbtn" value="search">Search</button>
        </form>
    </div>
</nav>